<app-header></app-header>
<div class="inventory-container">
    <h1>Gestión de Inventario</h1>

    <button class="btn add-btn" routerLink="/form-producto">Agregar Nuevo Producto</button>

    <div class="product-grid">

      <div class="product-card"*ngFor="let product of products">
        <img src="assets/man.jpg">
        <h2>{{ product.nombre}}</h2>
        <p class="price">{{product.precio}}</p>
        <!-- <p class="description">D....</p> -->
        <div class="actions">
          <button class="btn edit-btn" (click)="updateProduct(product)">Editar</button>
          <button class="btn delete-btn" (click)="deleteProduct(product.id)">Eliminar</button>
        </div>
      </div>


    </div>




  </div>

  <app-footer></app-footer>
