<div class="inventory-container">
    <h1>Gestión de Inventario</h1>
  
    <button class="btn add-btn">Agregar Nuevo Producto</button>
  
    <div class="product-grid">
      <div class="product-card">
        <img src="assets/producto1.jpeg" alt="Producto 1">
        <h2>Producto 1</h2>
        <p class="price">$25.00</p>
        <p class="description">D....</p>
        <div class="actions">
          <button class="btn edit-btn">Editar</button>
          <button class="btn delete-btn">Eliminar</button>
        </div>
      </div>
  
      <div class="product-card">
        <img src="assets/producto2.jpeg" alt="Producto 2">
        <h2>Producto 2</h2>
        <p class="price">$30.00</p>
        <p class="description">De.o.</p>
        <div class="actions">
          <button class="btn edit-btn">Editar</button>
          <button class="btn delete-btn">Eliminar</button>
        </div>
      </div>
  
      
      <div class="product-card">
        <img src="assets/producto3.jpeg" alt="Producto 3">
        <h2>Producto 3</h2>
        <p class="price">$15.00</p>
        <p class="description">D...</p>
        <div class="actions">
          <button class="btn edit-btn">Editar</button>
          <button class="btn delete-btn">Eliminar</button>
        </div>
      </div>

      <div class="product-card">
        <img src="assets/producto4.jpeg" alt="Producto 4">
        <h2>Producto 4</h2>
        <p class="price">$15.00</p>
        <p class="description">Este producto....</p>
        <div class="actions">
          <button class="btn edit-btn">Editar</button>
          <button class="btn delete-btn">Eliminar</button>
        </div>
      </div>

      <div class="product-card">
        <img src="assets/producto5.jpeg" alt="Producto 5">
        <h2>Producto 5</h2>
        <p class="price">$15.00</p>
        <p class="description">Este producto....</p>
        <div class="actions">
          <button class="btn edit-btn">Editar</button>
          <button class="btn delete-btn">Eliminar</button>
        </div>
      </div>

      <div class="product-card">
        <img src="assets/producto6.jpeg" alt="Producto 6">
        <h2>Producto 6</h2>
        <p class="price">$15.00</p>
        <p class="description">Este producto....</p>
        <div class="actions">
          <button class="btn edit-btn">Editar</button>
          <button class="btn delete-btn">Eliminar</button>
        </div>
      </div>
  
      
    </div>
  </div>
  