<div class="gallery">
    <div class="gallery-item">
      <img src="assets/images/man.jpg" alt="Men's Sportwear">
    </div>
    <div class="gallery-item">
      <img src="assets/images/kid.jpg" alt="Kids' Sportwear">
    </div>
    <div class="gallery-item">
      <img src="assets/images/woman.jpg" alt="Women's Sportwear">
    </div>
    <div class="gallery-item">
      <img src="assets/images/lsleeve.jpg" alt="Men's Long Sleeve">
    </div>
    <div class="gallery-item">
      <img src="assets/images/womentop.jpg" alt="Women's Top">
    </div>
  </div>
  