<div class="gallery">
    <div class="gallery-item">
      <img src="assets/images/man.jpg" alt="ropaHombre">
    </div>
    <div class="gallery-item">
      <img src="assets/images/kid.jpg" alt="ropaNino">
    </div>
    <div class="gallery-item">
      <img src="assets/images/woman.jpg" alt="ropaMujer">
    </div>
    <div class="gallery-item">
      <img src="assets/images/lsleeve.jpg" alt="mangaLargaHombre">
    </div>
    <div class="gallery-item">
      <img src="assets/images/womentop.jpg" alt="topMujer">
    </div>
  </div>
  