@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

body {
  @apply bg-black;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/assets/fonts/Parkinsans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.otro {
  font-family: 'Parkinsans', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  font-family: "Montserrat", sans-serif;
}


.roboto {
  font-family: "Roboto", sans-serif;
}

.raro {
  font-family: "EduAUVICWANTArrows", sans-serif;
}
